@model DemoProject1.ViewModel.CourseViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Course</h2>

@using (Html.BeginForm("EditCourse", "Course", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.Course.Id)
    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(m => m.Course.Name, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Course.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>Description</label>
        @Html.TextBoxFor(m => m.Course.Description, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Course.Description, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>Category</label>
        @Html.DropDownListFor(m => m.Course.CategoryId,
       new SelectList(Model.Category, "Id", "name"),
       new { @class = "form-control" }
       )
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
}
