@model IEnumerable<DemoProject1.Models.Staff>
@{ ViewBag.Title = "GetStaffs"; }

<h2>List Staffs</h2>

<div class="form-group">
    @Html.ActionLink("Create a new Staff", "CreateStaff", "Admin", new { @class = "btn btn-primary" })
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Address</th>
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in Model)
            {
<tr>
    <td>@item.User.Email</td>
    <td>@item.Name</td>
    <td>@item.Age</td>
    <td>@item.Address</td>
    <td>@Html.ActionLink("Delete", "DeleteStaff", "Admin", new { id = @item.StaffId }, new { @class = "btn btn-danger" })</td>
    <td>@Html.ActionLink("Edit", "EditStaff", "Admin", new { id = @item.StaffId }, new { @class = "btn btn-primary" })</td>
    <td>@Html.ActionLink("Change Password", "StaffChangePassword", "Admin", new { id = @item.StaffId }, new { @class = "btn btn-primary" })</td>
</tr>}
            </tr>
        </tbody>
    </table>

